// appBar
.wrapAppBar {
  padding: 4px 4px 4px 0;
  background-color: #fff;
  border-radius: 8px;
  position: fixed;

  // ---MOBILE --
  @media (max-width: 600px) {
    display: none;
  }

  // ---TABLET ---
  @media (min-width: 601px) and (max-width: 900px) {
    display: none;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
.appBar {
  background-color: rgb(255, 255, 255);
  position: relative;
  padding: 12px 8px;
  border-radius: 8px;
  max-height: 500px;
  overflow-y: auto;

  .textHeader {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding-left: 16px;
    user-select: none;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(242, 242, 242);
  }

  .wrapListItem {
    padding-bottom: 0;
    .item {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 7px 8px;
      transition: all 0.3s ease 0s;
      .icon {
        margin-right: -8px;
        .iconImage {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }

      .text {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 150%;
        margin-bottom: unset;
        padding-left: 8px;
      }
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
