.wrapLoginPhoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('~/assets/images/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  //   verify OTP
  .verifyPhoneNumber {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapInputOtp {
      .inputOtp {
        user-select: none;
        font-size: 3rem;
      }

      & :global input {
        border-radius: 50%;
        border: 1px solid #15231d;
        background-color: #fff8f8;
        user-select: none;

        &:focus-visible {
          outline: 1px solid red;
        }
      }
    }
    .btnSendCode {
      .spin {
        margin-right: 3px;
      }
    }
  }

  //   loginWithPhoneNumber
  .loginWithPhoneNumber {
    background-color: #fff;
    min-width: 400px;
    max-width: calc(100vw - 32px);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 1px #e5e5e5;
  }

  .wrapTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 8px;
    .img {
      width: 203px;
      object-fit: contain;
    }

    .backLoginPhone {
      position: absolute;
      top: 0;
      left: 0;
    }
    .title {
      font-size: 2rem;
      text-align: center;
      user-select: none;
      color: rgb(10, 104, 255);
    }
    .wrapContent {
      .backLoginPhone {
        color: #000;

        .iconBack {
          font-size: 2rem;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          &:hover {
            color: red;
          }
        }
      }
      .title {
        font-size: 2rem;
        text-align: center;
        user-select: none;
        color: rgb(10, 104, 255);
      }
    }
  }

  .wrapLabel {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 3px 0 3px;
    .phone {
      cursor: default;
      user-select: none;
    }

    .linkswitchEmail {
      // font-size: 1.6rem;
      text-decoration: none;
      color: #000;
    }
    .switchEmail {
      cursor: pointer;
      transition: all 0.1s linear;
      &:hover {
        color: #1dbfaf;
      }
    }
  }

  .inputPhone {
    width: 100%;
    margin-top: 3px;

    & :global .flag-dropdown {
      background-color: rgba(22, 24, 35, 0.06);
      border: 1px solid rgba(22, 24, 35, 0.06);
      border-top-left-radius: 44px;
      border-bottom-left-radius: 44px;
      padding-left: 8px;
    }

    & :global .selected-flag {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }

      &.open {
        background-color: transparent;
      }
    }

    & :global .flag-dropdown.open {
      background-color: #79f0e4;
      border: 1px solid rgba(22, 24, 35, 0.06);
      border-top-left-radius: 44px;
      border-bottom-left-radius: 44px;
      padding-left: 8px;

      & .selected-flag.open {
        background-color: transparent;
      }
    }

    & :global .country-list {
      font-size: 1.4rem;
    }

    & :global .form-control {
      font-size: 1.6rem;
      width: 100%;
      border-radius: 44px;
      height: 42.9px;
      overflow: hidden;
      background-color: rgba(22, 24, 35, 0.06);
      border: 1px solid rgba(22, 24, 35, 0.06);
      caret-color: #f05123;
    }
  }

  .wrapOtp {
    width: 100%;
    margin-top: 13px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .inputOtp {
      font-size: 1.6rem;
      width: 100%;
      border-radius: 44px;
      height: 42.9px;
      overflow: hidden;
      background-color: rgba(22, 24, 35, 0.06);
      border: 1px solid rgba(22, 24, 35, 0.06);
      caret-color: #f05123;
      outline: none;
      padding-left: 16px;
    }

    .wrapSendCode {
      display: flex;
      align-items: center;
      font-weight: 600;
      span {
        font-size: 1.6rem;
      }
      .timeout {
        margin-right: 3px;
      }
    }
    .activeShow {
      pointer-events: none;
    }

    .btnSendInput {
      background-color: #ccc;
      color: #757575;
      cursor: not-allowed;
      height: 42.9px;
      padding: 0 41px;
      border-radius: 42px;
      width: 100%;
      &:hover {
        color: #757575;
        border-color: transparent;
      }

      & .text {
        font-size: 1.6rem;
        font-weight: 500;
      }

      & .spinIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        & :global .ant-spin-dot-item {
          background-color: #605555;
        }
      }
    }

    .btnsendInputHide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      background-color: #f05123;
      color: #fff;
      cursor: pointer;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
        color: #fff;
      }
    }
  }
  .hidenBtn {
    cursor: not-allowed;
    opacity: 0.5;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  .btnPhoneNUmber {
    padding: 8px 16px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background-color: #1dbfaf;
    background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    background-size: 100% 200%;
    border: 0;
    border-radius: 44px;
    height: 44px;
    transition: background-position 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
    margin-top: 30px;
    transition: all 0.1s linear;

    &:hover {
      background-image: linear-gradient(70.06deg, #77bed5 -5%, #aeeb07 106%);
    }
  }
}

.toastMessage {
  & :global .Toastify__toast-body {
    font-size: 1.6rem;
  }
}

.timeout {
  font-size: 3rem;
  line-height: 42.9px;
}

// spin
.wrapSpinAnt {
  pointer-events: none;
  & :global .ant-spin-dot-item {
    background-color: #3e2727;
  }
}
