.wrapGetAllProducts {
  padding: 22px 32px 0;
  background-color: #fff;
  min-height: 100vh;
  position: relative;

  // breadcrumbAdminGetAllSanPham
  .breadcrumbAdminGetAllSanPham {
    .contentBreadcrumb {
      font-size: 1.5rem;
      user-select: none;
    }
  }

  // labelContentAdminGetAllSanPham
  .labelContentAdminGetAllSanPham {
    margin-bottom: 16px;
    font-size: 2.4rem;
    font-weight: 600;
    user-select: none;
    padding-top: 5px;
  }

  // wrapTabbarAdminGetAllSanPham
  .wrapTabbarAdminGetAllSanPham {
    .tabsAdminGetAllSanPham {
      & :global .ant-tabs-nav-list {
        .ant-tabs-tab {
          font-size: 1.5rem;
          border-color: rgb(217, 217, 217) !important;
          background-color: rgb(245, 245, 245);
          margin-right: 4px;
          font-weight: 700;
          padding: 12px 16px;
          border-radius: 4px 4px 0px 0px;
          user-select: none;
        }

        .ant-tabs-tab-active {
          border-top: 3px solid rgb(24, 144, 255) !important;
          background-color: rgb(255, 255, 255);
          border-bottom: none;
        }
      }
    }
  }

  // wrapTableContentAdminGetAllSanPham
  .wrapTableContentAdminGetAllSanPham {
    // bọc lại các hành động như thêm sản phẩm
    .wrapCacHanhDong {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // wrapInfoHeader
      .wrapInfoHeader {
        display: flex;
        align-items: center;
        .buttonXacnhanAll {
          font-size: 1.4rem;
        }

        .textSoLuongXacNhan {
          font-size: 1.5rem;
          user-select: none;
          font-weight: 500;
        }
      }

      // linkBTNthemSanPham
      .linkBTNthemSanPham {
        text-decoration: none;

        .btn {
          font-size: 1.4rem;
        }
      }
    }

    // contentTablesGetAllSanPham
    .contentTablesGetAllSanPham {
      & :global .ant-table-thead {
        .ant-table-cell {
          user-select: none;
        }
      }

      & :global .ant-table-row {
        .ant-table-cell {
          user-select: none;
        }
      }

      & :global .ant-table-pagination {
        .ant-pagination-item-active {
          background-color: #1677ff;

          & a {
            color: #fff;
          }
        }
      }
    }

    // wrapActionTable
    .wrapActionTable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      & button {
        width: 100%;
        font-size: 1.3rem;
      }
    }

    //wrapImageGiaoHangNhanh
    .wrapImageGiaoHangNhanh {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 120px;
        object-fit: contain;
      }
    }
  }

  //  toast messages
  .toastMessage {
    font-size: 1.6rem;
    & :global .Toastify__toast-body {
      font-size: 1.7rem;
    }
  }

  // SPIN Loading
  & :global .ant-spin-spinning {
    height: unset !important;
  }
}

// wrapAdminDonHangLazy => lazy danh sách đơn hàng khi đang tải
.wrapAdminDonHangLazy {
  padding: 22px 32px 0;
  min-height: 100vh;
  width: 100%;

  .donhangLazy1 {
    display: block;
    margin-top: 4px !important;
    height: 28px !important;
    width: 242px !important;
  }
  .donhangLazy2 {
    display: block;
    margin-top: 12px !important;
    height: 59px !important;
    width: 716px !important;
  }
  .donhangLazy3 {
    display: block;
    margin-top: 12px !important;
    height: 59px !important;
    width: 242px !important;
  }
  .donhangLazy4 {
    display: block;
    margin-top: 12px !important;
    height: 400px !important;
    width: 100% !important;
  }
}

//  ---- MODAL CẬP NHẬT SẢN PHẨM --
.wrapModalChangUpdatePhoneAdmin {
  width: 600px !important;

  & :global .ant-modal-title {
    user-select: none;
    font-size: 1.8rem;
  }
  & :global .ant-modal-body {
    .css-0 {
      padding: 0;
      min-height: unset;
    }
  }
}
