.wrapForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-items: center;
  background-image: url('~/assets/images/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & :global .ant-spin-dot-item {
    background-color: #222831;
  }
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: calc(100vw - 32px);
  border-radius: 8px;
  padding: 20px 16px;
  position: relative;
  box-shadow: 0 0 1px #e5e5e5;

  .heading {
    font-size: 1.9rem;
  }

  .imageLogo {
    width: 203px;
    object-fit: contain;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 400px;
}

.wrapInput {
  width: 90%;
  position: relative;
  margin-top: 8px;
  .label {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 18px 0 4px 8px;
    user-select: none;
    cursor: pointer;
  }

  .input {
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    background: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.06);
    border-radius: 44px;
    display: block;
    font-size: 1.5rem;
    outline: none;
    overflow: hidden;
    caret-color: rgb(10, 104, 255);
  }
  .errorsInput {
    border-color: #f33a58;
  }
  .errorsMessage {
    position: absolute;
    left: 8px;
    bottom: -29px;
    color: #f33a58;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 8px 0 8px 8px;
  }
  .wrapShowPass {
    position: relative;
    .showPassword {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      .icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
.register {
  padding: 8px 16px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: #1dbfaf;
  background-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
  background-size: 100% 200%;
  border: 0;
  border-radius: 44px;
  height: 44px;
  transition: background-position 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
  margin-top: 30px;
  &:hover {
    background-position: 0 100%;
    background-image: linear-gradient(-180deg, #2cccff -5%, #22dfbf 106%);
    background-color: #4de3d4;
  }
}

.switchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  margin-bottom: 0;
  padding: 15px 16px 0;
  font-size: 1.6rem;
  user-select: none;

  .text {
  }
  .link {
    font-weight: 600;
    color: #f05123;
    // color:rgb(10, 104, 255)
    margin-left: 6px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.activeLoading {
  background-color: #402c2c !important;
  background-image: unset;
}

.isSubmited {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  .iconLoading {
    position: absolute;
    top: 54%;
    left: 33%;

    .iconLoading2 {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .iconLoadingLogin {
    position: absolute;
    top: 54%;
    left: 30%;
    .iconLoading2 {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .loadingForm {
    // background-color: red;
    background-image: linear-gradient(70.06deg, #e8deee -5%, #6e8682 106%);
  }
}

//  toast messages
.toastMessage {
  font-size: 1.6rem;
  & :global .Toastify__toast-body {
    font-size: 1.7rem;
  }
}

// loginGoogle
.loginGoogle {
}

// wrapSpinAnt

.wrapForm {
  & :global .ant-spin-nested-loading {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }

  & :global .ant-spin {
    max-height: unset !important;
  }
}

// register loading => xử lý khi from đang được tải
.formRegisterLoading {
  background-color: #fff;

  & :global .MuiSkeleton-text {
    font-size: 1.6rem;
    width: 257px;
    margin-top: 18px;
    height: 55px;
    margin-left: 73px;
  }

  & .loadingText2 {
    margin-left: 34px;
    margin-top: 12px;
    height: 46px !important;
    width: 101px !important;
  }

  & .loadingText3 {
    margin-left: 34px;
    margin-top: -21px;
    height: 63px !important;
    width: 334px !important;
  }

  & .loadingText4 {
    margin-left: 34px;
    margin-top: -1px;
    height: 46px !important;
    width: 101px !important;
  }

  & .loadingText5 {
    margin-left: 34px;
    margin-top: -21px;
    height: 63px !important;
    width: 334px !important;
  }
  & .loadingText6 {
    margin-left: 34px;
    margin-top: -1px;
    height: 46px !important;
    width: 101px !important;
  }

  & .loadingText7 {
    margin-left: 34px;
    margin-top: -21px;
    height: 63px !important;
    width: 334px !important;
  }
  & .loadingText8 {
    margin-left: 34px;
    margin-top: -1px;
    height: 46px !important;
    width: 131px !important;
  }

  & .loadingText9 {
    margin-left: 34px;
    margin-top: -21px;
    height: 63px !important;
    width: 334px !important;
  }

  & .loadingText10 {
    margin-top: 8px;
    margin-left: 14px;
    width: 374px !important;
  }
  & .loadingText11 {
    margin-top: 15px;
    margin-left: 14px;
    width: 374px !important;
    height: 30px !important;
  }
}
