.wrapCardPhone {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  // height: 100vh;
  padding-top: 102px;

  // headerCard
  .headerCard {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 6px 0 10px;
    user-select: none;
  }

  //   wrapStepCard
  .wrapStepCard {
    background: white;
    border-radius: 4px;
    padding: 30px 15px;
    min-height: 68px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    & :global .ant-steps-icon {
      position: relative !important;
      top: 5.5px !important;
      right: 0;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .icon {
      color: rgb(201, 222, 255);
    }

    & :global .ant-steps-item-icon {
      margin-right: 0;
    }

    & :global .ant-steps-item-title {
      &::after {
        width: 427px;
        height: 6px;
        left: 0;
        border-radius: 100px;
        background: rgb(219, 238, 255) !important;
        transition: width 0.5s ease-in 0s;
      }
    }

    & :global .ant-steps-item-finish {
      & .ant-steps-item-title {
        &::after {
          background: rgb(0, 171, 86) !important;
          width: 427px;
          transition: width 0.5s ease-in 0s;
        }
      }
      & .ant-steps-icon {
        svg {
          color: rgb(0, 171, 86) !important;
        }
      }

      & .wrapIcon1Step-Card {
        &::after {
          display: none !important;
        }
      }
    }

    & :global .ant-steps-item-active {
      & .ant-steps-icon {
        svg {
          color: rgb(0, 171, 86) !important;
        }
      }

      & .wrapIcon2Step-Card {
        &::after {
          color: rgb(0, 171, 86);
        }
      }
      //
      & .wrapIcon1Step-Card {
        &::after {
          color: rgb(0, 171, 86);
        }
      }
    }

    & :global .ant-steps-item {
      padding-inline-start: 0 !important;
      overflow: unset !important;
      position: relative;
    }

    //
    & :global .ant-steps {
      position: relative;
      top: -7px;
    }

    .label2 {
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      font-size: 12px;
      font-weight: 500;
      background: none;
      color: rgb(56, 56, 61);
      user-select: none;
    }
    .label0 {
      position: absolute;
      top: 53px;
      left: 16px;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 500;
      background: none;
      color: rgb(56, 56, 61);
      user-select: none;
    }
    .label3 {
      position: absolute;
      top: 53px;
      right: 16px;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 500;
      background: none;
      color: rgb(56, 56, 61);
      user-select: none;
    }
  }
  // wrapActionCard
  .wrapActionCard {
    background: white;
    border-radius: 4px;
    padding: 8px 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: grid;
    grid-template-columns: 398px 190px 130px 130px 30px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;

    .wrapChecked {
      flex: 1.7;
      .checked {
        font-size: 1.4rem;
        line-height: 20px;
        align-items: center;
        user-select: none;

        & :global .ant-checkbox {
          position: relative;
          top: 2px;
        }

        & :global .ant-checkbox-inner {
          width: 18px;
          height: 18px;
        }
      }
    }

    .unitPrice {
      flex: 0.9;
      font-weight: 410;
      font-size: 1.3rem;
      user-select: none;
    }

    .quantity {
      flex: 0.6;
      font-weight: 410;
      font-size: 1.3rem;
      user-select: none;
    }

    .intoMoney {
      flex: 0.6;
      font-weight: 410;
      font-size: 1.3rem;
      user-select: none;
    }

    .removeIcon {
      flex: 0.1;
      width: 18px;
      height: 18px;
      object-fit: contain;
      user-select: none;
    }
  }

  // wrapListAllCard
  .wrapContentListCard {
    background: white;
    border-radius: 4px;
    padding: 8px 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  }
  .wrapListAllCard {
    // background: white;
    // border-radius: 4px;
    // padding: 8px 15px;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: grid;
    grid-template-columns: 398px 170px 150px 130px 30px;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 0;

    // info => thông tin sản phẩm
    .wrapInfo {
      display: flex;
      align-items: center;
      gap: 2px;
      .checkBox {
        & :global .ant-checkbox-inner {
          width: 18px;
          height: 18px;
          top: 1px;
        }
      }

      .img {
        width: 76px;
        height: 76px;
        object-fit: contain;
      }

      .contents {
        .text {
          display: -webkit-box;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 1.3rem;
          margin-bottom: 5px;
          line-height: 20px;
          word-break: break-word;
          user-select: none;
        }

        .wrapIcon {
          display: flex;
          align-items: center;
          gap: 4px;
          .icon {
            width: 32px;
            height: 16px;
            object-fit: contain;
          }
          .text {
            margin-bottom: 0;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            user-select: none;
          }
        }
      }
    }

    //  price
    .wrapUnitPrice {
      display: flex;
      align-items: center;
      .number {
        font-weight: 500;
        font-size: 1.3rem;
        display: inline-block;
        margin-right: 5px;
        word-break: break-word;
        margin-right: 3px;
        user-select: none;
      }
      .vnd {
        font-weight: 500;
        font-size: 1.3rem;
        display: inline-block;
        margin-right: 5px;
        user-select: none;
      }
    }

    // chọn số lượng
    .wrapQuantityAll {
      .wrapQuantity {
        display: flex;
        align-items: center;
        gap: 4px;
        user-select: none;
        margin-top: 3px;

        .text {
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }

        .text2 {
          font-weight: 500;
          flex: 1;
          word-break: break-word;
        }
      }

      .quantity {
        display: flex;
        align-items: center;
        gap: 3px;
        .btn {
          min-width: 32px;
          width: 30px;
          border-radius: 6px;
          svg {
            width: 16px;
            height: 16px;
          }
        }
        & :global .MuiButtonBase-root {
          padding: 3px;
        }
        .input {
          width: 58px;
          & :global .ant-input-number-handler-wrap {
            display: none;
          }
          & :global .ant-input-number-input {
            text-align: center;
            padding: 1px;
          }
        }
        & :global .ant-input-number-input-wrap {
          font-size: 1.3rem;
        }
      }
      .sumPrice {
        padding-top: 10px;
        .label {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          user-select: none;
        }

        .wrapNumber {
          display: flex;
          align-items: center;
          padding-bottom: 16px;
          .text {
            user-select: none;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            word-break: break-word;
          }
          .text2 {
            font-size: 1.8rem;
            position: relative;
            top: -7px;
            right: -1px;
          }
        }
      }
    }

    // wrapSumPrice
    .wrapSumPrice {
      display: flex;
      align-items: center;
      gap: 3px;
      user-select: none;
      .text {
        word-break: break-word;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 20px;
        display: block;
      }

      .vnd {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 20px;
        display: block;
      }
    }

    // remove icon
    .wrapRemove {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        width: 17px;
        height: 17px;
        object-fit: contain;
      }
    }
  }

  // wrapAddressCard
  .wrapAddressCard {
    background: white;
    border-radius: 4px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    .col1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      .text {
        user-select: none;
      }
      .text1 {
        font-size: 1.6rem;
        font-weight: 410;
      }
      .text2 {
        font-size: 1.4rem;
        font-weight: 410;
        color: rgb(11, 116, 229);
        cursor: pointer;
      }
    }
    .col2 {
      display: flex;
      align-items: center;
      .text {
        font-weight: 600;
        font-size: 1.4rem;
        user-select: none;
        word-break: break-word;
      }
      .text1 {
      }
      .i {
        display: block;
        width: 1px;
        height: 20px;
        background-color: rgb(235, 235, 240);
        margin: 0px 8px;
      }
      .text2 {
      }
    }
    .col3 {
      .text {
        user-select: none;
      }
      .text1 {
        color: rgb(0, 171, 86);
        background-color: rgb(239, 255, 244);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        padding: 0px 6px;
        border-radius: 100px;
        height: 18px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
      }
      .text2 {
        font-size: 14px;
        line-height: 20px;
        word-break: break-word;
      }
    }
  }

  // wrapSumPriceCard
  .wrapSumPriceCard {
    background: white;
    border-radius: 4px;
    padding: 17px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    user-select: none;
    .header {
      display: flex;
      align-items: center;
      padding-bottom: 17px;
      justify-content: space-between;
      margin-bottom: 5px;

      .text {
        font-weight: 300;
        font-size: 1.4rem;
      }

      .price {
        display: flex;
        align-items: center;
        gap: 2px;
        .label {
          font-size: 1.5rem;
          font-weight: 410;
          word-break: break-word;
        }
        .vnd {
          font-size: 1.4rem;
          font-weight: 410;
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0;
      .text {
        font-size: 1.4rem;
        font-weight: 300;
      }

      .wrapFooter {
        .col1 {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2px;
          .text1 {
            color: rgb(254, 56, 52);
            font-size: 22px;
            font-weight: 410;
            text-align: right;
            word-break: break-word;
          }
          .text2 {
            color: rgb(254, 56, 52);
            font-size: 22px;
            font-weight: 400;
            text-align: right;
          }
        }

        .vat {
          font-weight: 400;
          font-style: normal;
          display: block;
          font-size: 1.3rem;
          margin-top: -5px;
        }
      }
    }
  }

  //wrapBtnBuyPhone
  .btnBuyPhone {
    width: 100%;
    font-size: 1.6rem;
    padding: 7px;
    margin-top: 8px;
  }
}

// backTop
.backTop {
  & :global .ant-float-btn-icon {
    color: rgb(10, 104, 255) !important;
  }
}

// tooltip antd
body {
  & :global .ant-tooltip-arrow {
    &::before {
      bottom: -1px !important;
    }
  }
}
