.wrapPayOrder {
  .contents {
    max-width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 132px;
    padding-bottom: 80px;

    // ---MOBILE --
    @media (max-width: 600px) {
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 110px;
      padding-bottom: 10px;
    }

    // ---TABLET ---
    @media (min-width: 601px) and (max-width: 900px) {
      padding-bottom: 20px;
    }

    .wrapContent_PayMent_Info {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 4px;
    }
    .wrapContent1 {
      background-color: #fff;
      padding: 16px;
      width: 100%;
      border-radius: 4px;
      margin-bottom: 10px;

      .BoxAll {
        display: flex;
        border-radius: 12px;
        border: 1px solid rgb(221, 221, 227);
        padding: 20px 16px 16px;
        gap: 46px;
        position: relative;

        .wrapPakageTitle {
          position: absolute;
          top: 0;
          left: 12px;
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          color: rgb(7, 148, 73);
          padding: 0px 4px;
          background-color: white;
          transform: translateY(-50%);
          .iconImage {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }

          .text {
            user-select: none;
          }
        }
        .box1 {
          max-width: 516px;
          flex: 1;
          .packageShipping {
            .leftContent {
              .headerLeft1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header1 {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  .img {
                    width: 32px;
                    height: 16px;
                    object-fit: contain;
                  }

                  .text {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 410;
                    text-transform: uppercase;
                    user-select: none;
                  }
                }

                .header2 {
                  display: flex;
                  align-items: center;
                  gap: 4px;

                  .text1 {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    text-decoration: line-through;
                    user-select: none;
                  }

                  .text2 {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    font-weight: 500;
                    user-select: none;
                  }
                  .wrapIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .iconInfo {
                      width: 14px;
                      height: 14px;
                    }
                    &:hover .hover {
                      display: block;
                      cursor: pointer;
                    }

                    .hover {
                      position: absolute;
                      left: 50%;
                      transform: translateX(-50%);
                      top: 20px;
                      background-color: rgb(11, 116, 229);
                      padding: 8px 12px;
                      font-size: 12px;
                      line-height: 16px;
                      color: rgb(255, 255, 255);
                      border-radius: 4px;
                      font-weight: 400;
                      width: 239px;
                      display: none;
                      &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        border-width: 11px 10px;
                        border-color: transparent transparent rgb(11, 116, 229) transparent;
                        border-style: solid;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -17px;
                      }
                      &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        border-width: 12px 91px;
                        border-color: transparent;
                        border-style: solid;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -12px;
                      }
                      .label1 {
                        margin-bottom: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        user-select: none;
                        .text1Label {
                          font-size: 1.2rem;
                          line-height: 1.6rem;
                        }

                        .text2Label {
                          font-size: 1.2rem;
                          line-height: 1.6rem;
                        }
                        .textActive {
                          font-weight: 500;
                        }
                      }
                    }
                    .divider {
                      background: rgb(94, 180, 255);
                      height: 1px;
                      margin: 4px 0;
                    }
                  }
                }
              }
            }
          }

          .infoPhone {
            display: flex;
            align-items: center;
            margin-top: 12px;
            user-select: none;
            gap: 5px;
            .img {
              width: 48px;
              height: 48px;
              object-fit: contain;
            }

            .infoContent {
              flex: 1;
              .firstLine {
                font-size: 1.4rem;
                line-height: 2rem;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }

              .secondLine {
                margin-top: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .secondLine_text1 {
                  font-size: 1.4rem;
                  line-height: 2rem;
                }
                .secondLine_text2 {
                  font-size: 1.4rem;
                  line-height: 2rem;
                  font-weight: 500;
                  word-break: break-word;
                }
              }
            }
          }
        }

        .box2 {
          display: flex;
          gap: 8px;
          background: rgb(245, 245, 250);
          border-radius: 8px;
          padding: 8px 16px;
          max-width: 278px;
          width: 278px;
          // ---MOBILE --
          @media (max-width: 600px) {
            display: none;
          }

          & :global svg {
            width: 4rem;
          }

          .text {
            font-size: 1.4rem;
            line-height: 2rem;
            user-select: none;
          }
        }
      }
    }

    // Phương thức thanh toán
    .paymentMethod {
      background-color: #fff;
      margin-top: 16px;
      padding: 16px;
      border-radius: 4px;

      .labelPayments {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.4rem;
        user-select: none;
        padding-bottom: 20px;
      }

      .wrapContent {
        display: flex;
        align-items: center;
        gap: 12px;
        .icon {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }

        .textPayMent {
          font-size: 1.4rem;
          line-height: 2rem;
          font-weight: 410;
          position: relative;
          top: 3px;
          user-select: none;
        }
      }
      & :global .ant-radio-inner {
        width: 18px;
        height: 18px;
        background-color: transparent;
        &::after {
          transform: scale(0.45);
          background-color: rgb(11, 116, 229);
          width: 18px;
          height: 18px;
          margin-block-start: -9px;
          margin-inline-start: -9px;
        }
      }
    }

    .wrapContent2 {
      background-color: #fff;
    }

    // nút đặt hàng
    .wrapBtnOrder {
      padding: 16px;
      background-color: #fff;
      margin-top: 16px;
      border-radius: 4px;

      .divider {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .textOrder {
        font-weight: 500;
        font-size: 1.6rem;
        user-select: none;
      }
      .orderText {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
        .text_order1 {
          font-size: 1.4rem;
          line-height: 2rem;
          user-select: none;
        }

        .text_order2 {
          font-size: 1.4rem;
          line-height: 2rem;
          user-select: none;
          word-break: break-word;
        }
      }

      .sumPrice {
        display: flex;
        justify-content: space-between;
        .sumPriceText {
          font-size: 1.4rem;
          line-height: 2rem;
          font-weight: 401;
          user-select: none;
        }

        .sumPriceNumber {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          justify-content: center;
          .labelSumNumber {
            font-weight: 500;
            font-size: 2rem;
            line-height: 3.2rem;
            color: rgb(255, 66, 78);
            user-select: none;
            word-break: break-word;
          }

          .vatNumber {
            font-size: 1.2rem;
            line-height: 1.6rem;
            user-select: none;
          }
        }
      }

      .wrapFreeShip {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 5px;
        .img {
          width: 81px;
          object-fit: contain;
        }

        .text {
          font-weight: 600;
          user-select: none;
        }
      }

      .btnBuyOrder {
        margin-top: 10px;
        font-size: 1.6rem;
        width: 100%;
        padding: 8px 16px;
      }
    }
    .actionAddress {
      // AddressUser => Địa chỉ giao hàng
      .wrapAddressUser {
        background: white;
        border-radius: 4px;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;

        .noAddress {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .text {
            font-size: 1.6rem;
            word-break: break-word;
            margin-bottom: 10px;
            user-select: none;
          }

          .btn {
            font-size: 1.4rem;
          }
        }
      }

      // wrapAddressCard
      .wrapAddressCard {
        background: white;
        border-radius: 4px;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
        .col1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;
          .text {
            user-select: none;
          }
          .text1 {
            font-size: 1.6rem;
            font-weight: 410;
          }
          .text2 {
            font-size: 1.4rem;
            font-weight: 410;
            color: rgb(11, 116, 229);
            cursor: pointer;
          }
        }
        .col2 {
          display: flex;
          align-items: center;
          .text {
            font-weight: 600;
            font-size: 1.4rem;
            user-select: none;
            word-break: break-word;
          }
          .text1 {
          }
          .i {
            display: block;
            width: 1px;
            height: 20px;
            background-color: rgb(235, 235, 240);
            margin: 0px 8px;
          }
          .text2 {
          }
        }
        .col3 {
          .text {
            user-select: none;
          }
          .text1 {
            color: rgb(0, 171, 86);
            background-color: rgb(239, 255, 244);
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding: 0px 6px;
            border-radius: 100px;
            height: 18px;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
          }
          .text2 {
            font-size: 14px;
            line-height: 20px;
            word-break: break-word;
          }
        }
      }
    }
  }
}

body {
  // modalAddressUser
  .modalAddressUser {
    & :global .ant-modal-title {
      text-align: center;
      font-size: 1.7rem;
      color: rgb(10, 104, 255);
      user-select: none;
    }
    & :global .ant-modal-header {
      margin-bottom: 13px;
    }

    .wrapForm {
      & :global .ant-form-item-label {
        width: 26%;
        text-align: left;
        & label {
          font-weight: 600;
          color: rgb(51, 51, 51);
          height: 34px;
          user-select: none;
          &::after {
            content: '' !important;
          }
        }
      }

      & :global .ant-input {
        padding: 5.2px 11px;
        caret-color: rgb(10, 104, 255);
      }

      & :global .ant-form-item {
        margin-bottom: 25px;
      }

      & :global .ant-input-suffix {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
      }

      & :global .ant-input-affix-wrapper {
        padding: 0px 11px;
      }

      & :global .ant-select-selector {
        height: 34px;
      }

      .wrapBtn {
        & :global .ant-form-item-label {
          label {
            color: transparent;
          }
        }
        .btnAdd {
          font-size: 1.4rem;
          padding: 8px 16px !important;
        }
      }
    }
    & :global .ant-modal-close {
      top: 12px;
      inset-inline-end: 12px;
      &:hover {
        color: red;
      }
    }

    & :global .ant-form-item-explain-error {
      font-size: 1.3rem;
      padding-left: 2px;
    }

    & :global .css-dev-only-do-not-override-nnuwmp {
      #nameUser {
        padding: 5.2px 0;
      }
    }

    & :global .ant-input-textarea-affix-wrapper {
      #diachi_cuthe {
        padding: 5.2px 0px;
        min-height: 80px;
        max-height: 210px;
      }

      .ant-input-suffix {
        position: absolute;
        top: 0;
        right: 1px;
      }
    }
  }
}
