.wrapCard {
  // wrapActionPhone
  .wrapActionPhone {
    padding: 13px 16px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 30px;

    // ---MOBILE --
    @media (max-width: 600px) {
      padding: 13px 3px;
    }
    .action {
      .text {
        font-weight: 450;
        font-size: 1.5rem;
        user-select: none;
        position: relative;

        &.active {
          font-weight: 600;
          color: rgb(11, 116, 229);
        }
        &.active::after {
          display: block;
        }
        &:hover {
          cursor: pointer;
          font-weight: 600;
          color: rgb(11, 116, 229);
        }
        &:hover::after {
          display: block;
        }
        &::after {
          content: '';
          display: none;
          position: absolute;
          border-bottom: 4px solid rgb(11, 116, 229);
          border-radius: 2px;
          width: 40px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  // cardPhone
  .cardPhone {
    background-color: white;
    border-radius: 4px;
    position: relative;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
      z-index: 1;
    }

    .wrapCard {
      .cardImage {
        width: 200px;
        height: 200px;
        object-fit: contain;
        margin: 0 auto;
      }

      .wrapCardContents {
        padding: 4px 8px;
        .info {
          height: 108.1px;
        }
        .authentic_brand {
          height: 20px;
          width: 89px;
          object-fit: contain;
        }
        .namePhone {
          font-size: 1.3rem;
          margin-top: 4px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          white-space: break-spaces;
          font-weight: 400;
          line-height: 150%;
          word-break: break-word;
          // min-height: 58.5px;
        }
        .ratingPhone {
          font-size: 1.6rem;
        }

        .wrapPrice {
          display: flex;
          align-items: center;
          padding: 8px 0;
          gap: 8px;
          flex-wrap: wrap;
          .price {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 8px;
            max-width: 70%;

            .number {
              font-size: 1.6rem;
              text-align: left;
              line-height: 150%;
              font-weight: 500;
            }

            .vnd {
              font-size: 1.3rem;
              font-weight: 500;
              position: absolute;
              right: -8.6px;
              top: -3px;
            }
          }

          .promotion {
            display: inline-block;
            height: 18px;
            padding: 0px 4px;
            background: rgb(245, 245, 250);
            border-radius: 1000px;
            font-size: 12px;
            font-weight: 500;
            line-height: 150%;
          }
        }
      }
    }
  }

  // Pagination  Phân trang
  .wrapPagination {
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    & :global .pagination {
      list-style-type: none !important;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .icon {
      font-size: 2rem;
      color: rgb(11, 116, 229);
    }

    & :global .page-link {
      width: 40px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & :global .page-item1 {
      border: 1px solid rgb(10, 104, 255);
      border-radius: 4px;
      background-color: #fff;
      user-select: none;
      svg {
        position: relative;
        left: 4px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(10, 104, 255, 0.12);
      }
      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid rgba(0, 0, 0, 0.05);
        opacity: 0.6;
        & svg {
          color: rgb(128, 128, 137);
        }
      }
    }

    & :global .page-item2 {
      border: 1px solid rgb(10, 104, 255);
      border-radius: 4px;
      background-color: #fff;
      user-select: none;
      &:hover {
        cursor: pointer;
        background-color: rgba(10, 104, 255, 0.12);
      }
      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid rgba(0, 0, 0, 0.05);
        opacity: 0.6;
        & svg {
          color: rgb(128, 128, 137);
        }
      }
    }

    & :global .page-item {
      border-radius: 4px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background: rgb(10, 104, 255);
        .page-link {
          color: rgb(255, 255, 255);
          font-weight: 500;
        }
      }
      .page-link {
        font-size: 1.6rem;
        line-height: 3.6rem;
        font-weight: 400;
        border-radius: 4px;
        user-select: none;

        &:hover {
          cursor: pointer;
          background: rgba(39, 39, 42, 0.12);
        }
      }
    }
  }
  //progress => Thanh Trạng Thái Khi Call API
  .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 3px;

    &.hidden {
      display: none;
    }
  }
}

// ---MOBILE --
@media (max-width: 600px) {
}

// ---TABLET ---
@media (min-width: 601px) and (max-width: 900px) {
}

// ---MOBILE --AND TABLET---
@media (max-width: 900px) {
}

/* Điều chỉnh cho PC (lg và xl) */
@media (min-width: 901px) {
  /* Kiểu dáng cho PC */
}
