.wrapFormAddUser {
  // margin-top: 30px !important;
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;

  & :global .ant-form-item-row {
    display: block !important;
  }
  & :global .ant-form-item-label {
    text-align: start;
    & label {
      font-size: 1.6rem;
      &::after {
        display: none;
      }
    }
  }

  & :global .ant-input {
    caret-color: #e74c3c;
    padding: 6px 11px;
  }

  & :global .ant-form-item-explain-error {
    font-size: 1.3rem;
    padding-left: 1px;
  }

  & :global .css-5i1zjy-MuiButtonBase-root-MuiButton-root {
    font-size: 1.3rem !important;
  }

  & :global .ant-upload {
    font-size: 4.6rem;
  }

  & :global .anticon {
    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  & :global .ant-upload-list-item-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  & :global .ant-tooltip-inner {
    font-size: 1.4rem;
  }
  & :global .ant-upload-list-item-thumbnail {
    font-size: 1.4rem;
  }

  & :global .ant-progress-bg {
    height: 3px !important;
  }
  & :global .ant-progress-outer {
    height: 3px !important;
  }
  .error {
    & :global .ant-upload-select {
      border: 1px solid red !important;
    }
  }

  & :global .ant-select-selection-item {
    font-size: 1.35rem !important;
  }

  & :global .ant-select-selector {
    height: 35.6px !important;
  }
  .wrapUpload {
    position: relative;
    .inputHide {
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      &:focus {
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }

  & :global .ant-input-affix-wrapper {
    position: relative;
    padding: 6px 11px;
    &::before {
      content: unset;
    }

    .ant-input {
      padding-right: 13px;
    }
    .ant-input-suffix {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3px;

      .anticon-close-circle {
        svg {
          width: 1.6rem !important;
          height: 1.6rem !important;
        }
      }
    }
  }

  & .ant-select-item-option-content {
    color: red !important;
  }
  .btnAddUser {
    font-size: 1.5rem !important;
  }

  .wrapBtnActionFormUpdateUser {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .btnHuy {
      font-size: 1.4rem !important;
    }

    .btnAdd {
      font-size: 1.4rem !important;
    }
  }
}

.wrapToastMessage {
  //  toast messages
  .toastMessage {
    font-size: 1.6rem;
    & :global .Toastify__toast-body {
      font-size: 1.7rem;
    }
  }
}
