.percents {
  font-size: 2.3rem;
  margin-left: 10px;
  background: rgb(180, 180, 236);
  border-radius: 1000px;
  line-height: 20px !important;
  font-weight: 500 !important;
  padding: 0 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px !important;
}
