:root {
  // font-family: 'IBM Plex Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

* {
  // css => font-size:62.5% => 1rem => 10px
  font-size: 62.5%;
  // thanh cuộn => scrollbar
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #95a5a6;
  }
}
