html {
  // css => font-size:62.5% => 1rem => 10px
  // font-size: 62.5%;
  // font-size: 1rem = 10px;
  font-size: 62.5%;
  // css override => tooltip
  & :global .MuiTooltip-tooltip {
    font-size: 1.3rem;
    margin-top: 3px !important;
  }
}

// nhúng fonts
@font-face {
  font-family: Inter;
  src: url('/src/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2');
}
@font-face {
  font-family: Inter;
  src: url('/src/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2');
}
@font-face {
  font-family: Inter;
  src: url('/src/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2');
}

body {
  font-family: 'Inter', 'sans-serif';
  font-size: 1.6rem;

  // spin antd
  & :global .ant-spin-dot {
    font-size: 30px !important;
  }

  & :global .ant-spin-dot-item {
    width: 13px !important;
    height: 13px !important;
    background-color: #2f3843 !important;
  }

  & :global .ant-spin-text {
    font-size: 1.5rem !important;
    user-select: none;
  }

  & :global .ant-spin-spinning {
    top: 23% !important;
  }

  // toast message
  //  toast messages

  & :global .Toastify__toast-body {
    font-size: 1.7rem;
  }
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
:root {
  // font-family: 'IBM Plex Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  --fontFamily: 'Inter', sans-serif;
  --backgroundApp: '#f5f5fa';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // thanh cuộn => scrollbar
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #95a5a6;
  }
}
